<html>
    <head>
        {% if title %}
        <title>{{ title }} - softarex</title>
        {% else %}
        <title>softarex</title>
        {% endif %}
    </head>
    <body>
        <div>
            Softarex:
            <a href="/index">Home</a>
            <a href="/login">Login</a>
            <a href="/logout">Logout</a>
            <a href="/signin">signin</a>
            {% if current_user.is_authenticated %}
            <a href="/dimension">dimension</a>
            <a href="{{ url_for('user', username=current_user.name) }}">Profile</a>
             {% endif %}
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>